:root {
  --bg: #ffffff;
  --text: #111;
  --card: #ffffff;
}

.dark {
  --bg: #121212;
  --text: #eaeaea;
  --card: #1e1e1e;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}
